public/demo.gif
node_modules/
.next/
scripts/
src/
*.tsbuildinfo
tsconfig.json
eslint.config.js
next.config.js
.gitignore
.prettierrc
.npmignore
# Although 'files' in package.json takes precedence, 
# we keep this for clarity and safety.
